<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711624089700-83s2tb53tsr13lqs3v4h1o62ca2adrce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711624089700-83s2tb53tsr13lqs3v4h1o62ca2adrce</string>
	<key>API_KEY</key>
	<string>AIzaSyCmTRNFNu9DXiQH53VWvq5Yb8FftMyfTDw</string>
	<key>GCM_SENDER_ID</key>
	<string>711624089700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>crowdfaster.com</string>
	<key>PROJECT_ID</key>
	<string>crowdfaster-9a11a</string>
	<key>STORAGE_BUCKET</key>
	<string>crowdfaster-9a11a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711624089700:ios:ce669a3eb9401fd2af3f71</string>
</dict>
</plist>