{
  "swagger": "2.0",
  "info": {
    "description": "API crowdfaster CMS.",
    "version": "1.0.2",
    "title": "API crowdfaster CMS"
  },
  "host": "api.crowdfaster.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/chat/init": {
      "post": {
        "summary": "Инициализация чата",
        "description": "Инициализация нового чата по объявлению.\nСоздает новый чат для переписки по объявления. Если чата ранее небыло, то верент сгенерированный hash чата, если переписка была - вернер переписку и hash чата.",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "ad_id": {
                  "type": "integer"
                }
              },
              "x-examples": {
                "example-1": {
                  "ad_id": 1
                }
              }
            },
            "description": "ID объявления"
          },
          {
            "type": "string",
            "in": "header",
            "name": "token",
            "description": "токен пользователя"
          }
        ],
        "responses": {
          "200": {
            "description": "Удачное выполнение. Получает перепискуи hash чата или hash чата если переписки еще небыло.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "hash": {
                    "type": "string"
                  },
                  "messages_id": {
                    "type": "integer"
                  },
                  "date": {
                    "type": "string"
                  },
                  "I_am": {
                    "type": "boolean"
                  },
                  "action": {
                    "type": "string"
                  },
                  "id_user": {
                    "type": "integer"
                  },
                  "notification": {
                    "type": "integer"
                  },
                  "id_responder": {
                    "type": "integer"
                  },
                  "text": {
                    "type": "string"
                  }
                }
              },
              "x-examples": {
                "example-1": [
                  {
                    "hash": "c20ad4d76fe97759aa27a0c99bff6710",
                    "messages_id": 17,
                    "date": "2022-09-16T18:13:39.000Z",
                    "I_am": true,
                    "action": "Сообщение",
                    "id_user": 2,
                    "notification": 0,
                    "id_responder": 0,
                    "text": "Привет"
                  },
                  {
                    "hash": "85422afb467e9456013a2a51d4dff702",
                    "messages_id": 14,
                    "date": "2022-08-14T11:14:18.000Z",
                    "I_am": false,
                    "action": "Сообщение",
                    "id_user": 6,
                    "notification": 1,
                    "id_responder": 0,
                    "text": ""
                  },
                  {
                    "hash": "ff4d5fbbafdf976cfdc032e3bde78de5",
                    "messages_id": 11,
                    "date": "2022-08-14T11:13:49.000Z",
                    "I_am": false,
                    "action": "Ваш номер просмотрели",
                    "id_user": 6,
                    "notification": 1,
                    "id_responder": 0,
                    "text": ""
                  }
                ]
              }
            },
            "examples": {}
          },
          "400": {
            "description": "error operation",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "id": {
                  "type": "integer"
                },
                "massage": {
                  "type": "string"
                },
                "debug": {
                  "type": "object",
                  "properties": {}
                }
              },
              "x-examples": {
                "example-1": {
                  "status": "error",
                  "id": -7,
                  "massage": "Код введен не верно",
                  "debug": {}
                }
              }
            }
          },
          "": {
            "description": "Успех",
            "schema": {
              "type": "object",
              "properties": {
                "hash": {
                  "type": "string"
                },
                "ad_id": {
                  "type": "integer"
                }
              },
              "x-examples": {
                "example-1": {
                  "hash": "c20ad4d76fe97759aa27a0c99bff6710",
                  "ad_id": 1
                }
              }
            }
          }
        },
        "operationId": "chat-init",
        "x-internal": false,
        "tags": [
          "chat"
        ]
      },
      "parameters": []
    },
    "/chat/count": {
      "post": {
        "summary": "Получение количества сообщений пользователя",
        "description": "Получение количества сообщений пользователя",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "hash_id": {
                  "type": "string"
                }
              },
              "x-examples": {
                "example-1": {
                  "hash_id": "c20ad4d76fe97759aa27a0c99bff6710"
                }
              }
            },
            "description": "\"hash_id\"- идентификатор чата"
          },
          {
            "type": "string",
            "in": "header",
            "name": "token",
            "description": "токен пользователя"
          }
        ],
        "responses": {
          "200": {
            "description": "Удачное выполнение",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "object",
                  "properties": {
                    "fieldCount": {
                      "type": "integer"
                    },
                    "affectedRows": {
                      "type": "integer"
                    },
                    "insertId": {
                      "type": "integer"
                    },
                    "info": {
                      "type": "string"
                    },
                    "serverStatus": {
                      "type": "integer"
                    },
                    "warningStatus": {
                      "type": "integer"
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                }
              },
              "x-examples": {
                "example-1": {
                  "results": {
                    "fieldCount": 0,
                    "affectedRows": 1,
                    "insertId": 8,
                    "info": "",
                    "serverStatus": 2,
                    "warningStatus": 0,
                    "token": "yJlbWFpbCI6IjdAeWFuZGV4LnJ1IiwidGVsIjoiNzk5OTY1NjcwODEifQ==e"
                  }
                }
              }
            },
            "examples": {}
          },
          "400": {
            "description": "error operation",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "id": {
                  "type": "integer"
                },
                "massage": {
                  "type": "string"
                },
                "debug": {
                  "type": "object",
                  "properties": {}
                }
              },
              "x-examples": {
                "example-1": {
                  "status": "error",
                  "id": -7,
                  "massage": "Код введен не верно",
                  "debug": {}
                }
              }
            }
          },
          "": {
            "description": "Успех",
            "schema": {
              "type": "object",
              "properties": {
                "all": {
                  "type": "integer"
                },
                "active": {
                  "type": "integer"
                },
                "hash_chats": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "x-examples": {
                "example-1": {
                  "all": 2,
                  "active": 0,
                  "hash_chats": [
                    "ff4d5fbbafdf976cfdc032e3bde78de5"
                  ]
                }
              }
            }
          }
        },
        "operationId": "chat-count_message",
        "x-internal": false,
        "tags": [
          "chat"
        ]
      },
      "parameters": []
    },
    "/chat/user_locked": {
      "post": {
        "summary": "Блокировка пользователя",
        "description": "Блокировка пользователя",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "hash_id": {
                  "type": "string"
                }
              },
              "x-examples": {
                "example-1": {
                  "hash_id": "c20ad4d76fe97759aa27a0c99bff6710"
                }
              }
            },
            "description": "\"hash_id\"- идентификатор чата"
          },
          {
            "type": "string",
            "in": "header",
            "name": "token",
            "description": "токен пользователя"
          }
        ],
        "responses": {
          "200": {
            "description": "Удачное выполнение",
            "schema": {
              "type": "object",
              "properties": {
                "dialog": {
                  "type": "object",
                  "properties": {
                    "dialogs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "chat_messages_id": {
                            "type": "integer"
                          },
                          "chat_messages_text": {
                            "type": "string"
                          },
                          "chat_messages_date": {
                            "type": "string"
                          },
                          "chat_messages_status": {
                            "type": "integer"
                          },
                          "chat_messages_id_hash": {
                            "type": "string"
                          },
                          "chat_messages_action": {
                            "type": "integer"
                          },
                          "chat_messages_id_user": {
                            "type": "integer"
                          },
                          "chat_messages_notification": {
                            "type": "integer"
                          },
                          "chat_messages_attach": {
                            "type": "string"
                          },
                          "chat_messages_id_responder": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "locked": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "chat_locked_id": {
                            "type": "integer"
                          },
                          "chat_locked_user_id": {
                            "type": "integer"
                          },
                          "chat_locked_user_id_locked": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "my_locked": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "chat_locked_id": {
                            "type": "integer"
                          },
                          "chat_locked_user_id": {
                            "type": "integer"
                          },
                          "chat_locked_user_id_locked": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "x-examples": {
                "example-1": {
                  "dialog": {
                    "dialogs": [
                      {
                        "chat_messages_id": 15,
                        "chat_messages_text": "Kwc9Ot406NRam/Mzg9QvUBMqPtZkRdaKT79tIHOtcnzPKbBOvBW10QxjALL0n7tj0jJ9NJTzL22VjSLJtHpNbg==",
                        "chat_messages_date": "2022-09-12T01:05:29.000Z",
                        "chat_messages_status": 0,
                        "chat_messages_id_hash": "c20ad4d76fe97759aa27a0c99bff6710",
                        "chat_messages_action": 0,
                        "chat_messages_id_user": 2,
                        "chat_messages_notification": 0,
                        "chat_messages_attach": "0",
                        "chat_messages_id_responder": 0
                      },
                      {
                        "chat_messages_id": 16,
                        "chat_messages_text": "gCoOn/s8qlN3zC+pqNncjybmR8jOsRtb0aOwkItG1RornSuC2W5UWpU269s3NjRH0FHjPqj4z//ynFaCmhvLoQ==",
                        "chat_messages_date": "2022-09-12T01:10:14.000Z",
                        "chat_messages_status": 0,
                        "chat_messages_id_hash": "c20ad4d76fe97759aa27a0c99bff6710",
                        "chat_messages_action": 0,
                        "chat_messages_id_user": 2,
                        "chat_messages_notification": 0,
                        "chat_messages_attach": "0",
                        "chat_messages_id_responder": 0
                      }
                    ],
                    "locked": [
                      {
                        "chat_locked_id": 13,
                        "chat_locked_user_id": 2,
                        "chat_locked_user_id_locked": 2
                      }
                    ],
                    "my_locked": [
                      {
                        "chat_locked_id": 13,
                        "chat_locked_user_id": 2,
                        "chat_locked_user_id_locked": 2
                      }
                    ]
                  }
                }
              }
            },
            "examples": {}
          },
          "400": {
            "description": "error operation",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "id": {
                  "type": "integer"
                },
                "massage": {
                  "type": "string"
                },
                "debug": {
                  "type": "object",
                  "properties": {}
                }
              },
              "x-examples": {
                "example-1": {
                  "status": "error",
                  "id": -7,
                  "massage": "Код введен не верно",
                  "debug": {}
                }
              }
            }
          },
          "": {
            "description": "Успех",
            "schema": {
              "type": "object",
              "x-examples": {
                "example-1": {
                  "all": 2,
                  "active": 0,
                  "hash_chats": [
                    "ff4d5fbbafdf976cfdc032e3bde78de5"
                  ]
                }
              }
            }
          }
        },
        "operationId": "chat-user_locked",
        "x-internal": false,
        "tags": [
          "chat"
        ]
      },
      "parameters": []
    },
    "/chat/send": {
      "post": {
        "summary": "Отправка сообщения пользователю",
        "description": "Отправка сообщения пользователю",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "hash_id": {
                  "type": "string"
                },
                "text": {
                  "type": "string"
                }
              },
              "x-examples": {
                "example-1": {
                  "hash_id": "c20ad4d76fe97759aa27a0c99bff6710",
                  "text": "Привет"
                }
              }
            },
            "description": "\"hash_id\"- идентификатор чата"
          },
          {
            "type": "string",
            "in": "header",
            "name": "token",
            "description": "токен пользователя"
          }
        ],
        "responses": {
          "200": {
            "description": "Удачное выполнение или {\"isLocked\":true} если пользователь заблокирован",
            "schema": {
              "type": "object",
              "x-examples": {
                "example-1": {
                  "dialog": {
                    "dialogs": [
                      {
                        "chat_messages_id": 15,
                        "chat_messages_text": "Kwc9Ot406NRam/Mzg9QvUBMqPtZkRdaKT79tIHOtcnzPKbBOvBW10QxjALL0n7tj0jJ9NJTzL22VjSLJtHpNbg==",
                        "chat_messages_date": "2022-09-12T01:05:29.000Z",
                        "chat_messages_status": 0,
                        "chat_messages_id_hash": "c20ad4d76fe97759aa27a0c99bff6710",
                        "chat_messages_action": 0,
                        "chat_messages_id_user": 2,
                        "chat_messages_notification": 0,
                        "chat_messages_attach": "0",
                        "chat_messages_id_responder": 0
                      },
                      {
                        "chat_messages_id": 16,
                        "chat_messages_text": "gCoOn/s8qlN3zC+pqNncjybmR8jOsRtb0aOwkItG1RornSuC2W5UWpU269s3NjRH0FHjPqj4z//ynFaCmhvLoQ==",
                        "chat_messages_date": "2022-09-12T01:10:14.000Z",
                        "chat_messages_status": 0,
                        "chat_messages_id_hash": "c20ad4d76fe97759aa27a0c99bff6710",
                        "chat_messages_action": 0,
                        "chat_messages_id_user": 2,
                        "chat_messages_notification": 0,
                        "chat_messages_attach": "0",
                        "chat_messages_id_responder": 0
                      }
                    ],
                    "locked": [
                      {
                        "chat_locked_id": 13,
                        "chat_locked_user_id": 2,
                        "chat_locked_user_id_locked": 2
                      }
                    ],
                    "my_locked": [
                      {
                        "chat_locked_id": 13,
                        "chat_locked_user_id": 2,
                        "chat_locked_user_id_locked": 2
                      }
                    ]
                  }
                }
              }
            },
            "examples": {}
          },
          "400": {
            "description": "error operation",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "id": {
                  "type": "integer"
                },
                "massage": {
                  "type": "string"
                },
                "debug": {
                  "type": "object",
                  "properties": {}
                }
              },
              "x-examples": {
                "example-1": {
                  "status": "error",
                  "id": -7,
                  "massage": "Код введен не верно",
                  "debug": {}
                }
              }
            }
          },
          "": {
            "description": "Успех",
            "schema": {
              "type": "object",
              "x-examples": {
                "example-1": {
                  "all": 2,
                  "active": 0,
                  "hash_chats": [
                    "ff4d5fbbafdf976cfdc032e3bde78de5"
                  ]
                }
              }
            }
          }
        },
        "operationId": "chat-send",
        "x-internal": false,
        "tags": [
          "chat"
        ]
      },
      "parameters": []
    },
    "/chat/delete": {
      "post": {
        "summary": "Инициализация чата",
        "description": "Удаление чата",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "hash_id": {
                  "type": "string"
                }
              },
              "x-examples": {
                "example-1": {
                  "hash_id": "c20ad4d76fe97759aa27a0c99bff6710"
                }
              }
            },
            "description": "hash чата"
          },
          {
            "type": "string",
            "in": "header",
            "name": "token"
          }
        ],
        "responses": {
          "200": {
            "description": "Удачное выполнение",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "object",
                  "properties": {
                    "fieldCount": {
                      "type": "integer"
                    },
                    "affectedRows": {
                      "type": "integer"
                    },
                    "insertId": {
                      "type": "integer"
                    },
                    "info": {
                      "type": "string"
                    },
                    "serverStatus": {
                      "type": "integer"
                    },
                    "warningStatus": {
                      "type": "integer"
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                }
              },
              "x-examples": {
                "example-1": {
                  "results": {
                    "fieldCount": 0,
                    "affectedRows": 1,
                    "insertId": 8,
                    "info": "",
                    "serverStatus": 2,
                    "warningStatus": 0,
                    "token": "yJlbWFpbCI6IjdAeWFuZGV4LnJ1IiwidGVsIjoiNzk5OTY1NjcwODEifQ==e"
                  }
                }
              }
            },
            "examples": {}
          },
          "400": {
            "description": "error operation",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "id": {
                  "type": "integer"
                },
                "massage": {
                  "type": "string"
                },
                "debug": {
                  "type": "object",
                  "properties": {}
                }
              },
              "x-examples": {
                "example-1": {
                  "status": "error",
                  "id": -7,
                  "massage": "Код введен не верно",
                  "debug": {}
                }
              }
            }
          },
          "": {
            "description": "Успех - Deleted",
            "schema": {
              "type": "object",
              "x-examples": {
                "example-1": {
                  "dialogs": [],
                  "locked": [],
                  "myLocked": []
                }
              }
            }
          }
        },
        "operationId": "chat-delete",
        "x-internal": false,
        "tags": [
          "chat"
        ]
      },
      "parameters": []
    },
    "/chat/load": {
      "post": {
        "summary": "Инициализация чата",
        "description": "Получение данных чата",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "hash_id": {
                  "type": "string"
                }
              },
              "x-examples": {
                "example-1": {
                  "hash_id": "c20ad4d76fe97759aa27a0c99bff6710"
                }
              }
            },
            "description": "hash чата"
          },
          {
            "type": "string",
            "in": "header",
            "name": "token"
          }
        ],
        "responses": {
          "200": {
            "description": "Удачное выполнение",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "object",
                  "properties": {
                    "fieldCount": {
                      "type": "integer"
                    },
                    "affectedRows": {
                      "type": "integer"
                    },
                    "insertId": {
                      "type": "integer"
                    },
                    "info": {
                      "type": "string"
                    },
                    "serverStatus": {
                      "type": "integer"
                    },
                    "warningStatus": {
                      "type": "integer"
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                }
              },
              "x-examples": {
                "example-1": {
                  "results": {
                    "fieldCount": 0,
                    "affectedRows": 1,
                    "insertId": 8,
                    "info": "",
                    "serverStatus": 2,
                    "warningStatus": 0,
                    "token": "yJlbWFpbCI6IjdAeWFuZGV4LnJ1IiwidGVsIjoiNzk5OTY1NjcwODEifQ==e"
                  }
                }
              }
            },
            "examples": {}
          },
          "400": {
            "description": "error operation",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "id": {
                  "type": "integer"
                },
                "massage": {
                  "type": "string"
                },
                "debug": {
                  "type": "object",
                  "properties": {}
                }
              },
              "x-examples": {
                "example-1": {
                  "status": "error",
                  "id": -7,
                  "massage": "Код введен не верно",
                  "debug": {}
                }
              }
            }
          },
          "": {
            "description": "Успех",
            "schema": {
              "type": "object",
              "properties": {
                "dialogs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {}
                  }
                },
                "locked": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {}
                  }
                },
                "myLocked": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {}
                  }
                }
              },
              "x-examples": {
                "example-1": {
                  "dialogs": [],
                  "locked": [],
                  "myLocked": []
                }
              }
            }
          }
        },
        "operationId": "chat-get",
        "x-internal": false,
        "tags": [
          "chat"
        ]
      },
      "parameters": []
    },
    "/user/login": {
      "post": {
        "summary": "Получение токена для входа",
        "description": "Получение токена для входа",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string"
                },
                "pass": {
                  "type": "string"
                }
              },
              "x-examples": {
                "example-1": {
                  "email": "test2@test.ru",
                  "pass": "test"
                }
              }
            },
            "description": "Данные пользователя"
          }
        ],
        "responses": {
          "200": {
            "description": "Удачное выполнение",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "datetime_add": {
                    "type": "string"
                  },
                  "social_identity": {
                    "type": "null"
                  },
                  "status": {
                    "type": "integer"
                  },
                  "avatar": {
                    "type": "null"
                  },
                  "datetime_view": {
                    "type": "null"
                  },
                  "name": {
                    "type": "string"
                  },
                  "surname": {
                    "type": "string"
                  },
                  "balans": {
                    "type": "integer"
                  },
                  "tariff": {
                    "type": "integer"
                  },
                  "tariff_autorenewal": {
                    "type": "integer"
                  },
                  "lang": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "token": {
                    "type": "string"
                  }
                }
              },
              "x-examples": {
                "example-1": [
                  {
                    "id": 10,
                    "datetime_add": "2022-09-16T17:17:31.000Z",
                    "social_identity": null,
                    "status": 1,
                    "avatar": null,
                    "datetime_view": null,
                    "name": "testName",
                    "surname": "testSurname",
                    "balans": 0,
                    "tariff": 0,
                    "tariff_autorenewal": 1,
                    "lang": "ru",
                    "city": "Сочи",
                    "token": "yJlbWFpbCI6InRlc3QyQHRlc3QucnUifQ==e"
                  }
                ]
              }
            },
            "examples": {}
          },
          "400": {
            "description": "error operation",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "id": {
                  "type": "integer"
                },
                "massage": {
                  "type": "string"
                },
                "debug": {
                  "type": "object",
                  "properties": {}
                }
              },
              "x-examples": {
                "example-1": {
                  "status": "error",
                  "id": -7,
                  "massage": "Код введен не верно",
                  "debug": {}
                }
              }
            }
          },
          "": {
            "description": "Успех",
            "schema": {
              "type": "object",
              "properties": {
                "dialogs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {}
                  }
                },
                "locked": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {}
                  }
                },
                "myLocked": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {}
                  }
                }
              },
              "x-examples": {
                "example-1": {
                  "dialogs": [],
                  "locked": [],
                  "myLocked": []
                }
              }
            }
          }
        },
        "operationId": "user-login",
        "x-internal": false,
        "tags": [
          "user"
        ]
      },
      "parameters": []
    },
    "/user/add_review": {
      "post": {
        "summary": "Добавление отзыва на объявление",
        "description": "Добавление отзыва на объявление",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id_ad": {
                  "type": "integer"
                },
                "id_user": {
                  "type": "integer"
                },
                "text": {
                  "type": "string"
                },
                "stars": {
                  "type": "integer"
                }
              },
              "x-examples": {
                "example-1": {
                  "id_ad": 44,
                  "id_user": 3,
                  "text": "texte texttd",
                  "stars": 4
                }
              }
            },
            "description": ""
          },
          {
            "type": "string",
            "in": "header",
            "name": "token"
          }
        ],
        "responses": {
          "200": {
            "description": "Удачное выполнение",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "object",
                  "properties": {
                    "fieldCount": {
                      "type": "integer"
                    },
                    "affectedRows": {
                      "type": "integer"
                    },
                    "insertId": {
                      "type": "integer"
                    },
                    "info": {
                      "type": "string"
                    },
                    "serverStatus": {
                      "type": "integer"
                    },
                    "warningStatus": {
                      "type": "integer"
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                }
              },
              "x-examples": {
                "example-1": {
                  "results": {
                    "fieldCount": 0,
                    "affectedRows": 1,
                    "insertId": 8,
                    "info": "",
                    "serverStatus": 2,
                    "warningStatus": 0,
                    "token": "yJlbWFpbCI6IjdAeWFuZGV4LnJ1IiwidGVsIjoiNzk5OTY1NjcwODEifQ==e"
                  }
                }
              }
            },
            "examples": {}
          },
          "400": {
            "description": "error operation",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "id": {
                  "type": "integer"
                },
                "massage": {
                  "type": "string"
                },
                "debug": {
                  "type": "object",
                  "properties": {}
                }
              },
              "x-examples": {
                "example-1": {
                  "status": "error",
                  "id": -7,
                  "massage": "Код введен не верно",
                  "debug": {}
                }
              }
            }
          },
          "": {
            "description": "Отзыв добавлен",
            "schema": {
              "type": "object",
              "x-examples": {
                "example-1": {
                  "dialogs": [],
                  "locked": [],
                  "myLocked": []
                }
              }
            }
          }
        },
        "operationId": "chat-add_review",
        "x-internal": false,
        "tags": [
          "user"
        ]
      },
      "parameters": []
    },
    "/user/reg": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Регистрация нового пользователя",
        "description": "Регистрация нового пользователя",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "x-examples": {
                "example-1": {
                  "email": "5@yandex.ru",
                  "phone": "79996567081",
                  "pass": "123",
                  "name": "Имя",
                  "surname": "Фамилия"
                }
              },
              "properties": {
                "email": {
                  "type": "string"
                },
                "phone": {
                  "type": "string"
                },
                "pass": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "surname": {
                  "type": "string"
                },
                " lang": {
                  "type": "string"
                },
                " city_id": {
                  "type": "integer"
                }
              }
            },
            "description": "Регистрация нового пользователя"
          }
        ],
        "responses": {
          "200": {
            "description": "Удачное выполнение",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "object",
                  "properties": {
                    "fieldCount": {
                      "type": "integer"
                    },
                    "affectedRows": {
                      "type": "integer"
                    },
                    "insertId": {
                      "type": "integer"
                    },
                    "info": {
                      "type": "string"
                    },
                    "serverStatus": {
                      "type": "integer"
                    },
                    "warningStatus": {
                      "type": "integer"
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                }
              },
              "x-examples": {
                "example-1": {
                  "results": {
                    "fieldCount": 0,
                    "affectedRows": 1,
                    "insertId": 8,
                    "info": "",
                    "serverStatus": 2,
                    "warningStatus": 0,
                    "token": "yJlbWFpbCI6IjdAeWFuZGV4LnJ1IiwidGVsIjoiNzk5OTY1NjcwODEifQ==e"
                  }
                }
              }
            },
            "examples": {}
          },
          "400": {
            "description": "error operation",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "id": {
                  "type": "integer"
                },
                "massage": {
                  "type": "string"
                },
                "debug": {
                  "type": "object",
                  "properties": {}
                }
              },
              "x-examples": {
                "example-1": {
                  "status": "error",
                  "id": -7,
                  "massage": "Код введен не верно",
                  "debug": {}
                }
              }
            }
          },
          "": {
            "description": "Регистрация успешна",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "object",
                  "properties": {
                    "fieldCount": {
                      "type": "integer"
                    },
                    "affectedRows": {
                      "type": "integer"
                    },
                    "insertId": {
                      "type": "integer"
                    },
                    "info": {
                      "type": "string"
                    },
                    "serverStatus": {
                      "type": "integer"
                    },
                    "warningStatus": {
                      "type": "integer"
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                }
              },
              "x-examples": {
                "example-1": {
                  "results": {
                    "fieldCount": 0,
                    "affectedRows": 1,
                    "insertId": 7,
                    "info": "",
                    "serverStatus": 2,
                    "warningStatus": 0,
                    "token": "yJlbWFpbCI6IjZAeWFuZGV4LnJ1IiwidGVsIjoiNzk5OTY1NjcwODEifQ==e"
                  }
                }
              }
            }
          }
        },
        "operationId": "user-reg",
        "x-internal": false
      },
      "parameters": []
    },
    "/user/favorite": {
      "get": {
        "summary": "Получение списка избранных товаров",
        "description": "Получение списка избранных товаров",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "in": "header",
            "name": "token",
            "description": "Токен пользователя"
          },
          {
            "in": "formData",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Удачное выполнение",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "balance": {
                    "type": "integer"
                  }
                }
              },
              "x-examples": {
                "example-1": [
                  {
                    "id": 2,
                    "balance": 4400
                  }
                ]
              }
            }
          },
          "400": {
            "description": "error operation",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "id": {
                  "type": "integer"
                },
                "massage": {
                  "type": "string"
                },
                "debug": {
                  "type": "object",
                  "properties": {}
                }
              },
              "x-examples": {
                "example-1": {
                  "status": "error",
                  "id": -7,
                  "massage": "Код введен не верно",
                  "debug": {}
                }
              }
            }
          }
        },
        "operationId": "user-favorite-get",
        "tags": [
          "user"
        ]
      },
      "parameters": [],
      "post": {
        "summary": "Добавление\\удаление избранного",
        "operationId": "post-user-favorite",
        "responses": {
          "200": {
            "description": "Added или Delett"
          }
        },
        "description": "Добавление\\удаление избранного",
        "parameters": [
          {
            "type": "string",
            "in": "header",
            "name": "token",
            "description": "Токен пользователя"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id_ad": {
                  "type": "integer"
                }
              },
              "x-examples": {
                "example-1": {
                  "id_ad": 2
                }
              }
            },
            "description": "Id объявления. Если объявление уже было в избранном, то оно будет удалено из списка"
          }
        ],
        "tags": [
          "user"
        ]
      }
    },
    "/user/balance": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Получение баланса пользователя",
        "description": "Получение баланса пользователя",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "in": "header",
            "name": "token",
            "description": "Токен пользователя"
          }
        ],
        "responses": {
          "200": {
            "description": "Удачное выполнение",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "balance": {
                    "type": "integer"
                  }
                }
              },
              "x-examples": {
                "example-1": [
                  {
                    "id": 2,
                    "balance": 4400
                  }
                ]
              }
            }
          },
          "400": {
            "description": "error operation",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "id": {
                  "type": "integer"
                },
                "massage": {
                  "type": "string"
                },
                "debug": {
                  "type": "object",
                  "properties": {}
                }
              },
              "x-examples": {
                "example-1": {
                  "status": "error",
                  "id": -7,
                  "massage": "Код введен не верно",
                  "debug": {}
                }
              }
            }
          }
        },
        "operationId": "user-balans"
      },
      "parameters": []
    },
    "/user/stat": {
      "parameters": [],
      "post": {
        "summary": "Получение статистики",
        "operationId": "post-user-stat",
        "responses": {
          "200": {
            "description": "ad_id при неообходимости выбрать статистику по объявлению",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "date": {
                    "type": "string"
                  },
                  "ad_id": {
                    "type": "integer"
                  },
                  "from_user_id": {
                    "type": "integer"
                  },
                  "to_user_id": {
                    "type": "integer"
                  },
                  "action": {
                    "type": "string"
                  }
                }
              },
              "x-examples": {
                "example-1": [
                  {
                    "id": 1,
                    "date": "",
                    "ad_id": 1,
                    "from_user_id": 1,
                    "to_user_id": 1,
                    "action": ""
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "id": {
                  "type": "integer"
                },
                "massage": {
                  "type": "string"
                },
                "debug": {
                  "type": "object",
                  "properties": {}
                }
              },
              "x-examples": {
                "example-1": {
                  "status": "error",
                  "id": -7,
                  "massage": "Код введен не верно",
                  "debug": {}
                }
              }
            }
          }
        },
        "tags": [
          "user"
        ],
        "description": "Получение баланса пользователя",
        "parameters": [
          {
            "type": "string",
            "in": "header",
            "name": "token"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "ad_id": {
                  "type": "integer"
                }
              },
              "x-examples": {
                "example-1": {
                  "ad_id": 1
                }
              }
            },
            "description": "ad_id при неообходимости выбрать статистику по объявлению"
          }
        ]
      }
    },
    "/user/activate": {
      "parameters": [],
      "post": {
        "summary": "Активация учетной записи кодом из email",
        "operationId": "post-user-activate",
        "responses": {
          "200": {
            "description": "ad_id при неообходимости выбрать статистику по объявлению",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "date": {
                    "type": "string"
                  },
                  "ad_id": {
                    "type": "integer"
                  },
                  "from_user_id": {
                    "type": "integer"
                  },
                  "to_user_id": {
                    "type": "integer"
                  },
                  "action": {
                    "type": "string"
                  }
                }
              },
              "x-examples": {
                "example-1": [
                  {
                    "id": 1,
                    "date": "",
                    "ad_id": 1,
                    "from_user_id": 1,
                    "to_user_id": 1,
                    "action": ""
                  }
                ]
              }
            }
          },
          "400": {
            "description": "При ошибке",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "id": {
                  "type": "integer"
                },
                "massage": {
                  "type": "string"
                },
                "debug": {
                  "type": "object",
                  "properties": {}
                }
              },
              "x-examples": {
                "example-1": {
                  "status": "error",
                  "id": -7,
                  "massage": "Код введен не верно",
                  "debug": {}
                }
              }
            }
          },
          "500": {
            "description": "При ошибке на стороне сервера",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "id": {
                  "type": "integer"
                },
                "massage": {
                  "type": "string"
                },
                "debug": {
                  "type": "object",
                  "properties": {}
                }
              },
              "x-examples": {
                "example-1": {
                  "status": "error",
                  "id": -7,
                  "massage": "Код введен не верно",
                  "debug": {}
                }
              }
            }
          },
          "": {
            "description": "При успехе возвращается code и data_time"
          }
        },
        "tags": [
          "user"
        ],
        "description": "Активация учетной записи кодом из email",
        "parameters": [
          {
            "type": "string",
            "in": "header",
            "name": "token"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                }
              },
              "x-examples": {
                "example-1": {
                  "code": 9970
                }
              }
            },
            "description": "Для активации учетной записи необхдимо передать параметр code"
          }
        ]
      }
    },
    "/user/set_push_id": {
      "parameters": [],
      "post": {
        "summary": "Установка идентификатора устройства для PUSH уведомлений",
        "operationId": "post-user-activate",
        "responses": {
          "200": {
            "description": "ad_id при неообходимости выбрать статистику по объявлению",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "date": {
                    "type": "string"
                  },
                  "ad_id": {
                    "type": "integer"
                  },
                  "from_user_id": {
                    "type": "integer"
                  },
                  "to_user_id": {
                    "type": "integer"
                  },
                  "action": {
                    "type": "string"
                  }
                }
              },
              "x-examples": {
                "example-1": [
                  {
                    "id": 1,
                    "date": "",
                    "ad_id": 1,
                    "from_user_id": 1,
                    "to_user_id": 1,
                    "action": ""
                  }
                ]
              }
            }
          },
          "400": {
            "description": "При ошибке",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "id": {
                  "type": "integer"
                },
                "massage": {
                  "type": "string"
                },
                "debug": {
                  "type": "object",
                  "properties": {}
                }
              },
              "x-examples": {
                "example-1": {
                  "status": "error",
                  "id": -7,
                  "massage": "Код введен не верно",
                  "debug": {}
                }
              }
            }
          },
          "500": {
            "description": "При ошибке на стороне сервера",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "id": {
                  "type": "integer"
                },
                "massage": {
                  "type": "string"
                },
                "debug": {
                  "type": "object",
                  "properties": {}
                }
              },
              "x-examples": {
                "example-1": {
                  "status": "error",
                  "id": -7,
                  "massage": "Код введен не верно",
                  "debug": {}
                }
              }
            }
          },
          "": {
            "description": "При успехе возвращается строка ADDED или APDATED"
          }
        },
        "tags": [
          "user"
        ],
        "description": "Активация учетной записи кодом из email",
        "parameters": [
          {
            "type": "string",
            "in": "header",
            "name": "token"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "push_id": {
                  "type": "string"
                }
              },
              "x-examples": {
                "example-1": {
                  "push_id": "2222"
                }
              }
            },
            "description": "Для идентификатора устройства необхдимо передать параметр push_id"
          }
        ]
      }
    },
    "/user/edit": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Изменение данных польхователя",
        "description": "Изменение данных польхователя",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Данные ползователя",
            "required": true,
            "schema": {
              "type": "object",
              "x-examples": {
                "example-1": {
                  "email": "4@yandex.ru",
                  "phone": "79996567081",
                  "pass": "50415041",
                  "data": {
                    "name_company": "test_company"
                  }
                }
              },
              "properties": {
                "email": {
                  "type": "string"
                },
                "phone": {
                  "type": "string"
                },
                "pass": {
                  "type": "string"
                }
              }
            }
          },
          {
            "type": "string",
            "in": "header",
            "name": "token",
            "description": "токен пользователя"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated",
            "schema": {
              "type": "object",
              "x-examples": {
                "example-1": {
                  "email": "4@yandex.ru",
                  "phone": "79996567081",
                  "pass": "50415041",
                  "data": {
                    "name_company": "test_company"
                  }
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "error operation",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "id": {
                  "type": "integer"
                },
                "massage": {
                  "type": "string"
                },
                "debug": {
                  "type": "object",
                  "properties": {}
                }
              },
              "x-examples": {
                "example-1": {
                  "status": "error",
                  "id": -7,
                  "massage": "Код введен не верно",
                  "debug": {}
                }
              }
            }
          }
        },
        "operationId": "user-edit"
      },
      "parameters": []
    },
    "/user/del": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Удаление пользователя",
        "description": "Удаление пользователя",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Deleted",
            "required": true,
            "schema": {
              "type": "object",
              "x-examples": {
                "example-1": {
                  "email": "4@yandex.ru",
                  "phone": "79996567081",
                  "pass": "50415041",
                  "data": {
                    "name_company": "test_company"
                  }
                }
              }
            }
          },
          {
            "type": "string",
            "in": "header",
            "name": "token",
            "description": "токен пользователя"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated",
            "schema": {
              "type": "object",
              "x-examples": {
                "example-1": {
                  "email": "4@yandex.ru",
                  "phone": "79996567081",
                  "pass": "50415041",
                  "data": {
                    "name_company": "test_company"
                  }
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "error operation",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "id": {
                  "type": "integer"
                },
                "massage": {
                  "type": "string"
                },
                "debug": {
                  "type": "object",
                  "properties": {}
                }
              },
              "x-examples": {
                "example-1": {
                  "status": "error",
                  "id": -7,
                  "massage": "Код введен не верно",
                  "debug": {}
                }
              }
            }
          }
        },
        "operationId": "user-del"
      },
      "parameters": []
    },
    "/ads/vip": {
      "post": {
        "tags": [
          "ads"
        ],
        "summary": "Установка vip сообщения",
        "description": "Установка vip сообщения.",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "id объявления",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                }
              },
              "x-examples": {
                "example-1": {
                  "id": 48
                }
              }
            }
          },
          {
            "type": "string",
            "in": "header",
            "name": "token"
          }
        ],
        "responses": {
          "200": {
            "description": "Удачное выполнение - OK"
          },
          "400": {
            "description": "error operation",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "operationId": "ads-vip"
      }
    },
    "/ads/up": {
      "post": {
        "tags": [
          "ads"
        ],
        "summary": "Поднятие объявлений",
        "description": "Поднятие объявлений.",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "id объявления",
            "required": true,
            "schema": {
              "$ref": "#/definitions/User-id"
            }
          },
          {
            "type": "string",
            "in": "header",
            "name": "token"
          }
        ],
        "responses": {
          "200": {
            "description": "Удачное выполнение -OK"
          },
          "400": {
            "description": "error operation",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "operationId": "ads-up"
      }
    },
    "/ads/turbo": {
      "post": {
        "tags": [
          "ads"
        ],
        "summary": "Устновка турбо продажи объявлений",
        "description": "Устновка турбо продажи объявлений.",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "id объявления",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                }
              },
              "x-examples": {
                "example-1": {
                  "id": 48
                }
              }
            }
          },
          {
            "type": "string",
            "in": "header",
            "name": "token"
          }
        ],
        "responses": {
          "200": {
            "description": "Удачное выполнение"
          },
          "400": {
            "description": "error operation",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "operationId": "ads-turbo"
      }
    },
    "/ads/list": {
      "post": {
        "summary": "Получение объявлений",
        "operationId": "post-ads-list",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "ads_id": {
                    "type": "integer"
                  },
                  "ads_title": {
                    "type": "string"
                  },
                  "ads_alias": {
                    "type": "string"
                  },
                  "ads_text": {
                    "type": "string"
                  },
                  "ads_id_cat": {
                    "type": "integer"
                  },
                  "ads_datetime_add": {
                    "type": [
                      "null",
                      "string"
                    ]
                  },
                  "ads_datetime_view": {
                    "type": "null"
                  },
                  "ads_id_user": {
                    "type": "integer"
                  },
                  "ads_images": {
                    "type": "string"
                  },
                  "ads_price": {
                    "type": "integer"
                  },
                  "ads_address": {
                    "type": "string"
                  },
                  "ads_latitude": {
                    "type": [
                      "null",
                      "string"
                    ]
                  },
                  "ads_longitude": {
                    "type": [
                      "null",
                      "string"
                    ]
                  },
                  "ads_metro_ids": {
                    "type": [
                      "null",
                      "string"
                    ]
                  },
                  "ads_period_publication": {
                    "type": "string"
                  },
                  "ads_city_id": {
                    "type": "integer"
                  },
                  "ads_status": {
                    "type": "integer"
                  },
                  "ads_region_id": {
                    "type": "integer"
                  },
                  "ads_country_id": {
                    "type": "integer"
                  },
                  "ads_note": {
                    "type": [
                      "null",
                      "string"
                    ]
                  },
                  "ads_count_display": {
                    "type": "integer"
                  },
                  "ads_currency": {
                    "type": "string"
                  },
                  "ads_period_day": {
                    "type": "integer"
                  },
                  "ads_update": {
                    "type": "null"
                  },
                  "ads_sorting": {
                    "type": "integer"
                  },
                  "ads_auction": {
                    "type": "integer"
                  },
                  "ads_auction_duration": {
                    "type": "null"
                  },
                  "ads_auction_price_sell": {
                    "type": "integer"
                  },
                  "ads_auction_day": {
                    "type": "integer"
                  },
                  "ads_area_ids": {
                    "type": [
                      "null",
                      "string"
                    ]
                  },
                  "ads_id_import": {
                    "type": [
                      "null",
                      "string"
                    ]
                  },
                  "ads_import_images": {
                    "type": [
                      "null",
                      "string"
                    ]
                  },
                  "ads_video": {
                    "type": [
                      "null",
                      "string"
                    ]
                  },
                  "ads_vip": {
                    "type": "integer"
                  },
                  "ads_auto_renewal": {
                    "type": "integer"
                  },
                  "ads_online_view": {
                    "type": "integer"
                  },
                  "ads_price_old": {
                    "type": "integer"
                  },
                  "ads_filter_tags": {
                    "type": "string"
                  },
                  "ads_price_free": {
                    "type": "integer"
                  },
                  "ads_available": {
                    "type": "integer"
                  },
                  "ads_available_unlimitedly": {
                    "type": "integer"
                  },
                  "ads_booking": {
                    "type": "integer"
                  },
                  "ads_price_measure": {
                    "type": [
                      "null",
                      "string"
                    ]
                  },
                  "ads_price_from": {
                    "type": "integer"
                  },
                  "ads_booking_additional_services": {
                    "type": [
                      "null",
                      "string"
                    ]
                  },
                  "ads_booking_prepayment_percent": {
                    "type": "integer"
                  },
                  "ads_booking_max_guests": {
                    "type": "integer"
                  },
                  "ads_booking_min_days": {
                    "type": "integer"
                  },
                  "ads_booking_max_days": {
                    "type": "integer"
                  },
                  "ads_booking_available": {
                    "type": "integer"
                  },
                  "ads_booking_available_unlimitedly": {
                    "type": "integer"
                  },
                  "country_name": {
                    "type": "string"
                  },
                  "region_name": {
                    "type": "string"
                  },
                  "city_name": {
                    "type": "string"
                  },
                  "clients_name": {
                    "type": "string"
                  },
                  "clients_surname": {
                    "type": "string"
                  },
                  "category_board_name": {
                    "type": "string"
                  }
                }
              },
              "x-examples": {
                "example-1": [
                  {
                    "ads_id": 1,
                    "ads_title": "BMW X6 M Competition III (F96)",
                    "ads_alias": "bmw-x6-m-competition-iii-f96",
                    "ads_text": "Отличное состояние",
                    "ads_id_cat": 27,
                    "ads_datetime_add": "2022-07-11T10:07:09.000Z",
                    "ads_datetime_view": null,
                    "ads_id_user": 2,
                    "ads_images": "[\"https://crowdfaster.com/media/images_boards/big/62cbf5d475fe8.webp\",\"https://crowdfaster.com/media/images_boards/big/62cbf5d475fe8.webp\"]",
                    "ads_price": 1500000,
                    "ads_address": "",
                    "ads_latitude": "",
                    "ads_longitude": "",
                    "ads_metro_ids": "",
                    "ads_period_publication": "2022-08-10T10:06:53.000Z",
                    "ads_city_id": 376,
                    "ads_status": 8,
                    "ads_region_id": 33,
                    "ads_country_id": 1,
                    "ads_note": "",
                    "ads_count_display": 7,
                    "ads_currency": "RUB",
                    "ads_period_day": 30,
                    "ads_update": null,
                    "ads_sorting": 0,
                    "ads_auction": 0,
                    "ads_auction_duration": null,
                    "ads_auction_price_sell": 0,
                    "ads_auction_day": 0,
                    "ads_area_ids": "",
                    "ads_id_import": "",
                    "ads_import_images": "",
                    "ads_video": "",
                    "ads_vip": 0,
                    "ads_auto_renewal": 0,
                    "ads_online_view": 1,
                    "ads_price_old": 0,
                    "ads_filter_tags": "Марка:BMW;Модель:X6 M;Коробка:Автомат;Тип кузова:Внедорожник;Мощность, л.с:1000;Объем, л:25;Состояние:Не битый;Руль:Левый",
                    "ads_price_free": 0,
                    "ads_available": 0,
                    "ads_available_unlimitedly": 1,
                    "ads_booking": 0,
                    "ads_price_measure": "",
                    "ads_price_from": 0,
                    "ads_booking_additional_services": "",
                    "ads_booking_prepayment_percent": 0,
                    "ads_booking_max_guests": 0,
                    "ads_booking_min_days": 0,
                    "ads_booking_max_days": 0,
                    "ads_booking_available": 0,
                    "ads_booking_available_unlimitedly": 0,
                    "country_name": "Россия",
                    "region_name": "Краснодарский Край",
                    "city_name": "Сочи",
                    "clients_name": "Test",
                    "clients_surname": "",
                    "category_board_name": "Автомобили"
                  },
                  {
                    "ads_id": 43,
                    "ads_title": "test 2",
                    "ads_alias": "test-2",
                    "ads_text": "text2 text2 text2 text2",
                    "ads_id_cat": 27,
                    "ads_datetime_add": null,
                    "ads_datetime_view": null,
                    "ads_id_user": 2,
                    "ads_images": "[]",
                    "ads_price": 20000,
                    "ads_address": "address2 address2 address2 address2",
                    "ads_latitude": "",
                    "ads_longitude": "",
                    "ads_metro_ids": "",
                    "ads_period_publication": "2022-08-10T10:20:56.000Z",
                    "ads_city_id": 376,
                    "ads_status": 8,
                    "ads_region_id": 33,
                    "ads_country_id": 1,
                    "ads_note": "",
                    "ads_count_display": 2,
                    "ads_currency": "RUB",
                    "ads_period_day": 30,
                    "ads_update": null,
                    "ads_sorting": 0,
                    "ads_auction": 0,
                    "ads_auction_duration": null,
                    "ads_auction_price_sell": 0,
                    "ads_auction_day": 1,
                    "ads_area_ids": "",
                    "ads_id_import": "",
                    "ads_import_images": "",
                    "ads_video": "",
                    "ads_vip": 0,
                    "ads_auto_renewal": 0,
                    "ads_online_view": 0,
                    "ads_price_old": 0,
                    "ads_filter_tags": "Марка:ВАЗ;Модель:2106 M;Коробка:Механическая;Тип кузова:Седан;Мощность, л.с:80;Объем, л:1.5;Состояние:Не битый;Руль:Левый",
                    "ads_price_free": 0,
                    "ads_available": 0,
                    "ads_available_unlimitedly": 1,
                    "ads_booking": 0,
                    "ads_price_measure": "",
                    "ads_price_from": 0,
                    "ads_booking_additional_services": "",
                    "ads_booking_prepayment_percent": 0,
                    "ads_booking_max_guests": 0,
                    "ads_booking_min_days": 0,
                    "ads_booking_max_days": 0,
                    "ads_booking_available": 0,
                    "ads_booking_available_unlimitedly": 0,
                    "country_name": "Россия",
                    "region_name": "Краснодарский Край",
                    "city_name": "Сочи",
                    "clients_name": "Test",
                    "clients_surname": "",
                    "category_board_name": "Автомобили"
                  },
                  {
                    "ads_id": 44,
                    "ads_title": "test 2",
                    "ads_alias": "test-2",
                    "ads_text": "text2 text2 text2 text2",
                    "ads_id_cat": 27,
                    "ads_datetime_add": "2022-07-11T10:07:09.000Z",
                    "ads_datetime_view": null,
                    "ads_id_user": 2,
                    "ads_images": "[]",
                    "ads_price": 20000,
                    "ads_address": "address2 address2 address2 address2",
                    "ads_latitude": "",
                    "ads_longitude": "",
                    "ads_metro_ids": "",
                    "ads_period_publication": "2022-08-10T10:20:56.000Z",
                    "ads_city_id": 376,
                    "ads_status": 8,
                    "ads_region_id": 33,
                    "ads_country_id": 1,
                    "ads_note": "",
                    "ads_count_display": 3,
                    "ads_currency": "RUB",
                    "ads_period_day": 30,
                    "ads_update": null,
                    "ads_sorting": 0,
                    "ads_auction": 0,
                    "ads_auction_duration": null,
                    "ads_auction_price_sell": 0,
                    "ads_auction_day": 0,
                    "ads_area_ids": "",
                    "ads_id_import": "",
                    "ads_import_images": "",
                    "ads_video": "",
                    "ads_vip": 0,
                    "ads_auto_renewal": 0,
                    "ads_online_view": 1,
                    "ads_price_old": 0,
                    "ads_filter_tags": "Марка:ВАЗ;Модель:2106 M;Коробка:Механическая;Тип кузова:Седан;Мощность, л.с:80;Объем, л:1.5;Состояние:Не битый;Руль:Левый",
                    "ads_price_free": 0,
                    "ads_available": 0,
                    "ads_available_unlimitedly": 1,
                    "ads_booking": 0,
                    "ads_price_measure": "",
                    "ads_price_from": 0,
                    "ads_booking_additional_services": "",
                    "ads_booking_prepayment_percent": 0,
                    "ads_booking_max_guests": 0,
                    "ads_booking_min_days": 0,
                    "ads_booking_max_days": 0,
                    "ads_booking_available": 0,
                    "ads_booking_available_unlimitedly": 0,
                    "country_name": "Россия",
                    "region_name": "Краснодарский Край",
                    "city_name": "Сочи",
                    "clients_name": "Test",
                    "clients_surname": "",
                    "category_board_name": "Автомобили"
                  },
                  {
                    "ads_id": 45,
                    "ads_title": "test 3",
                    "ads_alias": "test-3",
                    "ads_text": "text2 text2 text2 text2",
                    "ads_id_cat": 27,
                    "ads_datetime_add": null,
                    "ads_datetime_view": null,
                    "ads_id_user": 2,
                    "ads_images": "[]",
                    "ads_price": 20000,
                    "ads_address": "address2 address2 address2 address2",
                    "ads_latitude": "",
                    "ads_longitude": "",
                    "ads_metro_ids": "",
                    "ads_period_publication": "2022-08-10T10:20:56.000Z",
                    "ads_city_id": 376,
                    "ads_status": 8,
                    "ads_region_id": 33,
                    "ads_country_id": 1,
                    "ads_note": "",
                    "ads_count_display": 3,
                    "ads_currency": "RUB",
                    "ads_period_day": 30,
                    "ads_update": null,
                    "ads_sorting": 0,
                    "ads_auction": 0,
                    "ads_auction_duration": null,
                    "ads_auction_price_sell": 0,
                    "ads_auction_day": 1,
                    "ads_area_ids": "",
                    "ads_id_import": "",
                    "ads_import_images": "",
                    "ads_video": "",
                    "ads_vip": 0,
                    "ads_auto_renewal": 0,
                    "ads_online_view": 0,
                    "ads_price_old": 0,
                    "ads_filter_tags": "Марка:ВАЗ;Модель:2106 M;Коробка:Механическая;Тип кузова:Седан;Мощность, л.с:80;Объем, л:1.5;Состояние:Не битый;Руль:Левый",
                    "ads_price_free": 0,
                    "ads_available": 0,
                    "ads_available_unlimitedly": 1,
                    "ads_booking": 0,
                    "ads_price_measure": "",
                    "ads_price_from": 0,
                    "ads_booking_additional_services": "",
                    "ads_booking_prepayment_percent": 0,
                    "ads_booking_max_guests": 0,
                    "ads_booking_min_days": 0,
                    "ads_booking_max_days": 0,
                    "ads_booking_available": 0,
                    "ads_booking_available_unlimitedly": 0,
                    "country_name": "Россия",
                    "region_name": "Краснодарский Край",
                    "city_name": "Сочи",
                    "clients_name": "Test",
                    "clients_surname": "",
                    "category_board_name": "Автомобили"
                  },
                  {
                    "ads_id": 46,
                    "ads_title": "test 4",
                    "ads_alias": "test-4",
                    "ads_text": "text2 text2 text2 text2",
                    "ads_id_cat": 27,
                    "ads_datetime_add": null,
                    "ads_datetime_view": null,
                    "ads_id_user": 2,
                    "ads_images": "[]",
                    "ads_price": 20000,
                    "ads_address": "address2 address2 address2 address2",
                    "ads_latitude": "",
                    "ads_longitude": "",
                    "ads_metro_ids": "",
                    "ads_period_publication": "2022-08-10T10:20:56.000Z",
                    "ads_city_id": 376,
                    "ads_status": 8,
                    "ads_region_id": 33,
                    "ads_country_id": 1,
                    "ads_note": "",
                    "ads_count_display": 3,
                    "ads_currency": "RUB",
                    "ads_period_day": 30,
                    "ads_update": null,
                    "ads_sorting": 0,
                    "ads_auction": 0,
                    "ads_auction_duration": null,
                    "ads_auction_price_sell": 0,
                    "ads_auction_day": 1,
                    "ads_area_ids": "",
                    "ads_id_import": "",
                    "ads_import_images": "",
                    "ads_video": "",
                    "ads_vip": 0,
                    "ads_auto_renewal": 0,
                    "ads_online_view": 0,
                    "ads_price_old": 0,
                    "ads_filter_tags": "Марка:ВАЗ;Модель:2106 M;Коробка:Механическая;Тип кузова:Седан;Мощность, л.с:80;Объем, л:1.5;Состояние:Не битый;Руль:Левый",
                    "ads_price_free": 0,
                    "ads_available": 0,
                    "ads_available_unlimitedly": 1,
                    "ads_booking": 0,
                    "ads_price_measure": "",
                    "ads_price_from": 0,
                    "ads_booking_additional_services": "",
                    "ads_booking_prepayment_percent": 0,
                    "ads_booking_max_guests": 0,
                    "ads_booking_min_days": 0,
                    "ads_booking_max_days": 0,
                    "ads_booking_available": 0,
                    "ads_booking_available_unlimitedly": 0,
                    "country_name": "Россия",
                    "region_name": "Краснодарский Край",
                    "city_name": "Сочи",
                    "clients_name": "Test",
                    "clients_surname": "",
                    "category_board_name": "Автомобили"
                  },
                  {
                    "ads_id": 47,
                    "ads_title": "test 2",
                    "ads_alias": "test-2",
                    "ads_text": "text2 text2 text2 text2",
                    "ads_id_cat": 27,
                    "ads_datetime_add": null,
                    "ads_datetime_view": null,
                    "ads_id_user": 2,
                    "ads_images": "[]",
                    "ads_price": 20000,
                    "ads_address": "address2 address2 address2 address2",
                    "ads_latitude": "",
                    "ads_longitude": "",
                    "ads_metro_ids": "",
                    "ads_period_publication": "2022-08-10T10:20:56.000Z",
                    "ads_city_id": 376,
                    "ads_status": 8,
                    "ads_region_id": 33,
                    "ads_country_id": 1,
                    "ads_note": "",
                    "ads_count_display": 3,
                    "ads_currency": "RUB",
                    "ads_period_day": 30,
                    "ads_update": null,
                    "ads_sorting": 0,
                    "ads_auction": 0,
                    "ads_auction_duration": null,
                    "ads_auction_price_sell": 0,
                    "ads_auction_day": 1,
                    "ads_area_ids": "",
                    "ads_id_import": "",
                    "ads_import_images": "",
                    "ads_video": "",
                    "ads_vip": 0,
                    "ads_auto_renewal": 0,
                    "ads_online_view": 0,
                    "ads_price_old": 0,
                    "ads_filter_tags": "Марка:ВАЗ;Модель:2106 M;Коробка:Механическая;Тип кузова:Седан;Мощность, л.с:80;Объем, л:1.5;Состояние:Не битый;Руль:Левый",
                    "ads_price_free": 0,
                    "ads_available": 0,
                    "ads_available_unlimitedly": 1,
                    "ads_booking": 0,
                    "ads_price_measure": "",
                    "ads_price_from": 0,
                    "ads_booking_additional_services": "",
                    "ads_booking_prepayment_percent": 0,
                    "ads_booking_max_guests": 0,
                    "ads_booking_min_days": 0,
                    "ads_booking_max_days": 0,
                    "ads_booking_available": 0,
                    "ads_booking_available_unlimitedly": 0,
                    "country_name": "Россия",
                    "region_name": "Краснодарский Край",
                    "city_name": "Сочи",
                    "clients_name": "Test",
                    "clients_surname": "",
                    "category_board_name": "Автомобили"
                  },
                  {
                    "ads_id": 48,
                    "ads_title": "test 3",
                    "ads_alias": "test-3",
                    "ads_text": "text2 text2 text2 text2",
                    "ads_id_cat": 27,
                    "ads_datetime_add": null,
                    "ads_datetime_view": null,
                    "ads_id_user": 2,
                    "ads_images": "[]",
                    "ads_price": 20000,
                    "ads_address": "address2 address2 address2 address2",
                    "ads_latitude": "",
                    "ads_longitude": "",
                    "ads_metro_ids": "",
                    "ads_period_publication": "2022-08-10T10:20:56.000Z",
                    "ads_city_id": 376,
                    "ads_status": 8,
                    "ads_region_id": 33,
                    "ads_country_id": 1,
                    "ads_note": "",
                    "ads_count_display": 3,
                    "ads_currency": "RUB",
                    "ads_period_day": 30,
                    "ads_update": null,
                    "ads_sorting": 0,
                    "ads_auction": 0,
                    "ads_auction_duration": null,
                    "ads_auction_price_sell": 0,
                    "ads_auction_day": 1,
                    "ads_area_ids": "",
                    "ads_id_import": "",
                    "ads_import_images": "",
                    "ads_video": "",
                    "ads_vip": 0,
                    "ads_auto_renewal": 0,
                    "ads_online_view": 0,
                    "ads_price_old": 0,
                    "ads_filter_tags": "Марка:ВАЗ;Модель:2106 M;Коробка:Механическая;Тип кузова:Седан;Мощность, л.с:80;Объем, л:1.5;Состояние:Не битый;Руль:Левый",
                    "ads_price_free": 0,
                    "ads_available": 0,
                    "ads_available_unlimitedly": 1,
                    "ads_booking": 0,
                    "ads_price_measure": "",
                    "ads_price_from": 0,
                    "ads_booking_additional_services": "",
                    "ads_booking_prepayment_percent": 0,
                    "ads_booking_max_guests": 0,
                    "ads_booking_min_days": 0,
                    "ads_booking_max_days": 0,
                    "ads_booking_available": 0,
                    "ads_booking_available_unlimitedly": 0,
                    "country_name": "Россия",
                    "region_name": "Краснодарский Край",
                    "city_name": "Сочи",
                    "clients_name": "Test",
                    "clients_surname": "",
                    "category_board_name": "Автомобили"
                  },
                  {
                    "ads_id": 49,
                    "ads_title": "test 4",
                    "ads_alias": "test-4",
                    "ads_text": "text2 text2 text2 text2",
                    "ads_id_cat": 27,
                    "ads_datetime_add": "2022-08-13T22:55:25.000Z",
                    "ads_datetime_view": null,
                    "ads_id_user": 2,
                    "ads_images": "[]",
                    "ads_price": 20000,
                    "ads_address": "address2 address2 address2 address2",
                    "ads_latitude": "",
                    "ads_longitude": "",
                    "ads_metro_ids": "",
                    "ads_period_publication": "2022-09-12T22:55:25.000Z",
                    "ads_city_id": 376,
                    "ads_status": 5,
                    "ads_region_id": 33,
                    "ads_country_id": 1,
                    "ads_note": "",
                    "ads_count_display": 3,
                    "ads_currency": "RUB",
                    "ads_period_day": 30,
                    "ads_update": null,
                    "ads_sorting": 0,
                    "ads_auction": 0,
                    "ads_auction_duration": null,
                    "ads_auction_price_sell": 0,
                    "ads_auction_day": 1,
                    "ads_area_ids": "",
                    "ads_id_import": "",
                    "ads_import_images": "",
                    "ads_video": "",
                    "ads_vip": 0,
                    "ads_auto_renewal": 0,
                    "ads_online_view": 0,
                    "ads_price_old": 0,
                    "ads_filter_tags": "Марка:ВАЗ;Модель:2106 M;Коробка:Механическая;Тип кузова:Седан;Мощность, л.с:80;Объем, л:1.5;Состояние:Не битый;Руль:Левый",
                    "ads_price_free": 0,
                    "ads_available": 0,
                    "ads_available_unlimitedly": 1,
                    "ads_booking": 0,
                    "ads_price_measure": "",
                    "ads_price_from": 0,
                    "ads_booking_additional_services": "",
                    "ads_booking_prepayment_percent": 0,
                    "ads_booking_max_guests": 0,
                    "ads_booking_min_days": 0,
                    "ads_booking_max_days": 0,
                    "ads_booking_available": 0,
                    "ads_booking_available_unlimitedly": 0,
                    "country_name": "Россия",
                    "region_name": "Краснодарский Край",
                    "city_name": "Сочи",
                    "clients_name": "Test",
                    "clients_surname": "",
                    "category_board_name": "Автомобили"
                  },
                  {
                    "ads_id": 50,
                    "ads_title": "BMW M4 Competition Package G82/G83",
                    "ads_alias": "bmw-m4-competition-package-g82-g83",
                    "ads_text": "Версия Competition новых спорткаров M3 и M4, которая поступит в салоны «БорисХоф», будет комплектоваться интеллектуальной полноприводной трансмиссией BMW xDrive. Крутящий момент у 6-цилиндрового ДВС объемом 3 л составит 650 Н·м, а максимальная мощность — 510 л. с. В этом битурбированном двигателе будет предусмотрен непосредственный впрыск горючего.\r\n\r\nСмазочный и охлаждающий механизмы готовы к работе при больших нагрузках, неизбежных на гоночных трассах. Выпускная система оборудована заслонками с электронным управлением, благодаря чему мотор при работе звучит очень выразительно. Опционально доступны карбоно-керамические тормоза, отличающиеся увеличенной прочностью. Механизм динамического контроля устойчивости автомобиля предусматривает возможность настройки чувствительности спортивной системы антипробуксовки.",
                    "ads_id_cat": 27,
                    "ads_datetime_add": "2022-08-13T22:54:59.000Z",
                    "ads_datetime_view": null,
                    "ads_id_user": 2,
                    "ads_images": "[\"https://crowdfaster.com/media/images_boards/big/62e7bd05afffa.webp\",\"https://crowdfaster.com/media/images_boards/big/62e7bd06621f3.webp\",\"https://crowdfaster.com/media/images_boards/big/62e7bd086b8a1.webp\",\"https://crowdfaster.com/media/images_boards/big/62e7bd093111a.webp\"]",
                    "ads_price": 12000000,
                    "ads_address": "",
                    "ads_latitude": "",
                    "ads_longitude": "",
                    "ads_metro_ids": "",
                    "ads_period_publication": "2022-08-31T11:47:46.000Z",
                    "ads_city_id": 376,
                    "ads_status": 1,
                    "ads_region_id": 33,
                    "ads_country_id": 1,
                    "ads_note": "",
                    "ads_count_display": 224,
                    "ads_currency": "RUB",
                    "ads_period_day": 30,
                    "ads_update": "2022-08-14T11:18:53.000Z",
                    "ads_sorting": 1,
                    "ads_auction": 1,
                    "ads_auction_duration": "2022-09-13T11:18:53.000Z",
                    "ads_auction_price_sell": 0,
                    "ads_auction_day": 30,
[...]
