{
  "openapi": "3.0.0",
  "info": {
    "title": "Макар",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.crowdfaster.com"
    },
    {
      "url": "http://api.crowdfaster.com"
    }
  ],
  "tags": [
    {
      "name": "ADS"
    },
    {
      "name": "User"
    },
    {
      "name": "Chat"
    },
    {
      "name": "direct"
    }
  ],
  "paths": {
    "/ads/vip": {
      "post": {
        "tags": [
          "ADS"
        ],
        "summary": "ads_vip(local)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "id": 48
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "yJlbWFpbCI6IjdAeWFuZGV4LnJ1IiwidGVsIjoiNzk5OTY1NjcwODEifQ==e"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "yJlbWFpbCI6IjFAeWFuZGV4LnJ1IiwidGVsIjoiNzk5OTY1NjcwODAifQ==e"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/ads/up": {
      "post": {
        "tags": [
          "ADS"
        ],
        "summary": "ads_up(local)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "id": 48
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "yJlbWFpbCI6IjVAeWFuZGV4LnJ1IiwidGVsIjoiNzk5OTY1NjcwODEifQ==e"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/ads/turbo": {
      "post": {
        "tags": [
          "ADS"
        ],
        "summary": "turbo(local)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "id": 48
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "yJlbWFpbCI6IjVAeWFuZGV4LnJ1IiwidGVsIjoiNzk5OTY1NjcwODEifQ==e"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/ads/list": {
      "post": {
        "tags": [
          "ADS"
        ],
        "summary": "list(local)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "limit": 10,
                  "offset": 0,
                  "id": 0
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/ads/addMass": {
      "post": {
        "tags": [
          "ADS"
        ],
        "summary": "add(local)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "ads_data": [
                    {
                      "title": "test 32",
                      "alias": "test-23",
                      "text": "text32 text32 text32 text3",
                      "id_cat": 27,
                      "images": "['sdfsdf','sdfsdf','sdfsdf','sdfsdf']",
                      "price": 20000,
                      "address": "address2 address2 address2 address2",
                      "period_publication": "2022-08-10 13:20:56",
                      "city_id": 376,
                      "country_id": 1,
                      "status": 1,
                      "region_id": 33,
                      "currency": "RUB",
                      "period_day": 30,
                      "filter_tags": "Марка:ВАЗ;Модель:2106 M;Коробка:Механическая;Тип кузова:Седан;Мощность, л.с:80;Объем, л:1.5;Состояние:Не битый;Руль:Левый",
                      "available_unlimitedly": 1
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "yJlbWFpbCI6IjFAeWFuZGV4LnJ1IiwidGVsIjoiNzk5OTY1NjcwODAifQ==e"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/ads/categories": {
      "get": {
        "tags": [
          "ADS"
        ],
        "summary": "categorys(local)",
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/ads/categorie": {
      "get": {
        "tags": [
          "ADS"
        ],
        "summary": "category(local)",
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "27"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/ads/create": {
      "post": {
        "tags": [
          "ADS"
        ],
        "summary": "create",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "file2": {
                    "type": "string",
                    "format": "binary"
                  },
                  "title": {
                    "type": "string",
                    "example": "sesg"
                  },
                  "text": {
                    "type": "string",
                    "example": "ryrrt"
                  },
                  "id_cat": {
                    "type": "integer",
                    "example": "1"
                  },
                  "price": {
                    "type": "integer",
                    "example": "44"
                  },
                  "address": {
                    "type": "string",
                    "example": "asbfsd"
                  },
                  "city_id": {
                    "type": "integer",
                    "example": "2"
                  },
                  "region_id": {
                    "type": "integer",
                    "example": "3"
                  },
                  "country_id": {
                    "type": "integer",
                    "example": "2"
                  },
                  "currency": {
                    "type": "integer",
                    "example": "3454345"
                  },
                  "tags": {
                    "type": "string",
                    "example": "sdgdf;dtyd"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "yJlbWFpbCI6IjFAeWFuZGV4LnJ1IiwidGVsIjoiNzk5OTY1NjcwODAifQ==e"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/ads/update": {
      "post": {
        "tags": [
          "ADS"
        ],
        "summary": "update",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "file2": {
                    "type": "string",
                    "format": "binary"
                  },
                  "title": {
                    "type": "string",
                    "example": "тестов тест"
                  },
                  "text": {
                    "type": "string",
                    "example": "ryrrt"
                  },
                  "id_cat": {
                    "type": "integer",
                    "example": "1"
                  },
                  "price": {
                    "type": "integer",
                    "example": "44"
                  },
                  "address": {
                    "type": "string",
                    "example": "asbfsd"
                  },
                  "city_id": {
                    "type": "integer",
                    "example": "2"
                  },
                  "region_id": {
                    "type": "integer",
                    "example": "3"
                  },
                  "country_id": {
                    "type": "integer",
                    "example": "2"
                  },
                  "currency": {
                    "type": "integer",
                    "example": "3454345"
                  },
                  "tags": {
                    "type": "string",
                    "example": "sdgdf,dtyd"
                  },
                  "ads_id": {
                    "type": "integer",
                    "example": "54"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "yJlbWFpbCI6IjFAeWFuZGV4LnJ1IiwidGVsIjoiNzk5OTY1NjcwODAifQ==e"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/user/login": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "email": "test2@test.ru",
                  "pass": "test"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "yJlbWFpbCI6InRlc3QyQHRlc3QucnUiLCJ0ZWwiOiJ0ZXN0In0=e"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/user/reg": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "user_reg(local)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "email": "test7@test.ru",
                  "phone": "test",
                  "pass": "test",
                  "name": "testName",
                  "surname": "testSurname",
                  "leng": "ru"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/user/balance": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "user_balans(local)",
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "yJlbWFpbCI6IjFAeWFuZGV4LnJ1IiwidGVsIjoiNzk5OTY1NjcwODAifQ==e"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/user/edit": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "user_edit(local)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "email": "4@yandex.ru",
                  "phone": "79996567081",
                  "pass": "50415041",
                  "data": {
                    "name_company": "test_company"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "yJlbWFpbCI6IjVAeWFuZGV4LnJ1IiwidGVsIjoiNzk5OTY1NjcwODEifQ==e"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/user/order": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "user/order(local)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "id": 1,
                  "offset": 0,
                  "limit": 3
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "yJlbWFpbCI6IjFAeWFuZGV4LnJ1IiwidGVsIjoiNzk5OTY1NjcwODAifQ==e"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/user/sale": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "user/sale(local)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "id": 54,
                  "offset": 0,
                  "limit": 3
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "yJlbWFpbCI6IjFAeWFuZGV4LnJ1IiwidGVsIjoiNzk5OTY1NjcwODAifQ==e"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/user/favorite": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "favorite",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "id_ad": 2
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "yJlbWFpbCI6InRlc3QyQHRlc3QucnUiLCJ0ZWwiOiJ0ZXN0In0=e"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/user/add_review": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "add_review",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "id_ad": 44,
                  "id_user": 3,
                  "text": "texte texttd",
                  "stars": 4
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "yJlbWFpbCI6InRlc3QyQHRlc3QucnUiLCJ0ZWwiOiJ0ZXN0In0=e"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/user/favorite_get": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "favoriteGet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "id": 3,
                  "offset": 0,
                  "limit": 3
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "yJlbWFpbCI6InRlc3QyQHRlc3QucnUiLCJ0ZWwiOiJ0ZXN0In0=e"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/user/del": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "del",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": ""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "yJlbWFpbCI6InRlc3QyQHRlc3QucnUiLCJ0ZWwiOiJ0ZXN0In0=e"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/user/stat": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "stat",
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "yJlbWFpbCI6InRlc3QyQHRlc3QucnUiLCJ0ZWwiOiJ0ZXN0In0=e"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/user/my_review": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "my_review",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "id": 1,
                  "offset": 0,
                  "limit": 1
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "yJlbWFpbCI6InRlc3QyQHRlc3QucnUiLCJ0ZWwiOiJ0ZXN0In0=e"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/user/activate": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "activ",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "code": 9970
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "yJlbWFpbCI6InRlc3Q3QHRlc3QucnUiLCJ0ZWwiOiJ0ZXN0In0=e"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/user/set_push_id": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "set_push_id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "push_id": "shuethsvibutbsgvit"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "yJlbWFpbCI6InRlc3Q3QHRlc3QucnUiLCJ0ZWwiOiJ0ZXN0In0=e"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/user/pass_recover": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "passRecover",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "email": "Andruxakonst@yandex.ru",
                  "pass": "19860127"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "yJlbWFpbCI6InRlc3Q3QHRlc3QucnUiLCJ0ZWwiOiJ0ZXN0In0=e"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/chat/init": {
      "post": {
        "tags": [
          "Chat"
        ],
        "summary": "chat/init",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "ad_id": 11111
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "yJlbWFpbCI6IkFuZHJ1eGFrb25zdEB5YW5kZXgucnUifQ==e"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/chat/load": {
      "post": {
        "tags": [
          "Chat"
        ],
        "summary": "chat/load",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "hash_id": "2b44928ae11fb9384c4cf38708677c48"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "yJlbWFpbCI6IkFuZHJ1eGFrb25zdEB5YW5kZXgucnUifQ==e"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/chat/delete": {
      "post": {
        "tags": [
          "Chat"
        ],
        "summary": "chat/delete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "hash_id": "c20ad4d76fe97759aa27a0c99bff6710"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "yJlbWFpbCI6IjFAeWFuZGV4LnJ1IiwidGVsIjoiNzk5OTY1NjcwODAifQ==e"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/chat/count": {
      "post": {
        "tags": [
          "Chat"
        ],
        "summary": "count",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "hash_id": "2b44928ae11fb9384c4cf38708677c48"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "yJlbWFpbCI6IkFuZHJ1eGFrb25zdEB5YW5kZXgucnUifQ==e"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/chat/user_locked": {
      "post": {
        "tags": [
          "Chat"
        ],
        "summary": "chat/user_locked",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "hash_id": "2b44928ae11fb9384c4cf38708677c48"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "yJlbWFpbCI6IkFuZHJ1eGFrb25zdEB5YW5kZXgucnUifQ==e"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/chat/send": {
      "post": {
        "tags": [
          "Chat"
        ],
        "summary": "chat/send",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "hash_id": "2b44928ae11fb9384c4cf38708677c48",
                  "text": "ПриветПриветПриветПриветПривет тест"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "yJlbWFpbCI6IkFuZHJ1eGFrb25zdEB5YW5kZXgucnUifQ==e"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/direct/country": {
      "get": {
        "tags": [
          "direct"
        ],
        "summary": "direct/country(local)",
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "yJlbWFpbCI6IjFAeWFuZGV4LnJ1IiwidGVsIjoiNzk5OTY1NjcwODAifQ==e"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/direct/region": {
      "get": {
        "tags": [
          "direct"
        ],
        "summary": "direct/region(local)",
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "yJlbWFpbCI6IjFAeWFuZGV4LnJ1IiwidGVsIjoiNzk5OTY1NjcwODAifQ==e"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/direct/city": {
      "get": {
        "tags": [
          "direct"
        ],
        "summary": "direct/city(local)",
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "yJlbWFpbCI6IjFAeWFuZGV4LnJ1IiwidGVsIjoiNzk5OTY1NjcwODAifQ==e"
          },
          {
            "name": "region_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "87"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/direct/metro": {
      "get": {
        "tags": [
          "direct"
        ],
        "summary": "direct/metro(local)",
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "yJlbWFpbCI6IjFAeWFuZGV4LnJ1IiwidGVsIjoiNzk5OTY1NjcwODAifQ==e"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/direct/tutor": {
      "get": {
        "tags": [
          "direct"
        ],
        "summary": "tutor",
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "yJlbWFpbCI6IjFAeWFuZGV4LnJ1IiwidGVsIjoiNzk5OTY1NjcwODAifQ==e"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/direct/secur": {
      "get": {
        "tags": [
          "direct"
        ],
        "summary": "secur",
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "yJlbWFpbCI6IjFAeWFuZGV4LnJ1IiwidGVsIjoiNzk5OTY1NjcwODAifQ==e"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/direct/support": {
      "get": {
        "tags": [
          "direct"
        ],
        "summary": "support",
        "parameters": [
          {
            "name": "auth",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1234567890!@#$%^&*()QWERTYUIOP"
          },
          {
            "name": "token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "yJlbWFpbCI6IjFAeWFuZGV4LnJ1IiwidGVsIjoiNzk5OTY1NjcwODAifQ==e"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  }
}